{%- set isp_prefix = crowdsec_config.admin_isp_cidr.split('.')[0:2] | join('.') -%}
# Extra safety: Never trigger on admin IPs
type: trigger
name: custom/whitelist-protection
description: "Prevent scenarios from triggering on admin IPs"
filter: |
  evt.Meta.source_ip not in ["{{ crowdsec_config.admin_ip }}", "{{ crowdsec_config.admin_secondary_ip }}", "127.0.0.1", "::1"] &&
  evt.Meta.source_ip not startsWith "10.100." &&
  evt.Meta.source_ip not startsWith "172." &&
  evt.Meta.source_ip not startsWith "{{ isp_prefix }}"
blackhole: 1m
labels:
  service: ssh
